<div *ngIf="loading" class="page-loader">
  <div class="loader-inner">
    <div class="loader-icon">
      <svg width="22" height="22" viewBox="0 0 14 14" fill="none">
        <path d="M2 3h10M2 7h6M2 11h8" stroke="white" stroke-width="1.75" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="loader-bar-track">
      <div class="loader-bar"></div>
    </div>
  </div>
</div>

<ng-container *ngIf="!loading">
  <app-sidebar></app-sidebar>
  <app-topbar></app-topbar>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</ng-container>
